<!DOCTYPE html>
<html>
  <head>
    <title>New movie</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>New movie</h1>
    <form action="/movies/create" method="POST" enctype="multipart/form-data">
      <label for="title">Title:</label><br>
      <input type="text" id="title" name="title"><br>
      <label for="rating">Rating:</label><br>
      <input type="number" id="rating" name="rating"><br>
      <label for="awards">Awards:</label><br>
      <input type="integer" id="awards" name="awards"><br>
      <label for="release_date">Release date:</label><br>
      <input type="date" id="release_date" name="release_date"><br>
      <label for="length">Length:</label><br>
      <input type="integer" id="length" name="length"><br>
      <label for="genre">Genre:</label><br>
      <select name="genre_id" id="genre_id">
        <% for( let index = 0; index < genres.length; index++ ) { %>
          <option value="<%= genres[index].id %>"><%= genres[index].name %></option>
        <% } %>
      </select><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
